/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Bebas+Neue&family=Inter:wght@300&display=swap");
*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: rgb(245, 245, 245);
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px;
  /* background: #15653b; */
  /* background-color: #deebdd; */
  background-image: linear-gradient(315deg, #6b8e6b 0%, #38593b 74%);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.logo{
  display: flex;
  align-items: center;
}
.logo a{
  color: #ffffff;
  font-family: 'Bebas Neue';
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 4px;
  margin: 2rem 2rem 2rem 2rem;
}

.header-icons{
  display: flex;
  align-items: center;
}
.header-icons i{
  margin-right: 2rem;
  cursor: pointer;
}
.header-icons .account{
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}
.header-icons .account img{
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 50%;
}
.container{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

/* Side menubar section */
nav{
  background: #fff;
  border-radius: 0px 50px 50px 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.side_navbar{
  padding: 1px;
  display: flex;
  flex-direction: column;
}
.side_navbar span{
  color: gray;
  margin: 1rem 3rem;
  font-size: 12px;
}
.side_navbar a{
  width: 100%;
  padding: 0.8rem 3rem;
  font-weight: 500;
  font-size: 15px;
  color: rgb(100, 100, 100);
}
.links{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}
.links a{
  font-size: 13px;
}
.side_navbar a:hover{
  background: rgb(212, 177, 210);
  color: white;
}
.side_navbar .active{
  border-left: 8px solid rgb(147, 37, 141);
}

/* Main Body Section */
.main-body{
  width: 90%;
  padding: 1rem;
  margin-right: 35px;
}
.promo_card{
  width: 100%;
  color: #000000d5;
  margin-top: 10px;
  border-radius: 50px;
  padding: 0.5rem 1rem 1rem 3rem;
  background: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.promo_card h1, .promo_card p, button{
  margin: 12px 8px;
}
.quote{
  color: #000000d9;
  font-size: 12px;
  font-weight: 800;
}

.history_lists{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

table{
  background: #fff;
  padding: 1rem;
  text-align: left;
  border-radius: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
table td, th{
  padding: 0.2rem 0.8rem;
  text-align: center;
}
table th{
  font-size: 15px;
}
table td{
  font-size: 13px;
  color: rgb(100, 100, 100);
}







.ic{
    height: 100px;
    /* margin: 10px 0px; */
}
.im{
    margin-right: 20px;
    height: 80px;
    width: 90px;
    border-radius: 30px;
}
.imlogo{
    height: 60px;
}

.wrapper{
    display: flex;
    background: #fff;
    max-width: 500px;
    width: 100%;
    border-radius: 30px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.158) 0px -2px 6px 0px inset;
    font-size: 15px;
    margin-bottom: 2px;
}