*{
    margin: 0;
    padding: 0;
}
html{
    height:100%;
}
body{
    background: url(images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.container{
    color: rgb(240, 240, 240);
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.286);
    /* margin: 0 auto; */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    display: flex;
    justify-content: center;
}

.content{
    /* margin: 50px; */
    flex-grow: 0.5;
    /* background-color: aqua; */
    padding: 10% 0;
}
.contentTitle{
    font-family: 'Bebas Neue';
    font-size: 120px;
    /* margin: 2px; */
    letter-spacing: 5px;
}
.contentText{
    /* margin: 0; */
    font-family: 'Poppins';
}

.option{
    /* margin: 120px; */
    /* background-color: brown; */
    display: flex;
    font-family: 'Poppins';
    font-size: 30px;    
    padding-top:25%;
}
.op{
    margin:90px 30px;
    /* background-color: blueviolet; */
    padding:20px 10px;
    border-radius: 80px;
    text-align: right;
    color: rgb(255, 164, 240);
}
.op:hover{
    padding-top: 10px;
    transition-duration: 0.2s;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.im{
    height: 50px;
    margin-top: 15px;
}

.text_decoration{
    text-decoration: none;
}